<% include ../partials/boilerplate %>

<div>
  <form method='POST' action='/auth/login' id='unitform'>
    <input name='username' type='text' class='' placeholder='username' required />
    <input name='password' type='password' class='' placeholder='password' required />
    <input type='submit' class='displayadd' value='Log in' />
  </form>
</div>

<% include ../partials/end %>
