<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Empire Database</title>
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/style.css'>
</head>
<body>
  <header>
    <nav><div id="back"><div id="links">
      <a href="/auth/register" class='toplink'>Register</a>
      <a href="/auth/login" class='toplink'>Login</a>
      <a href="/auth/logout" class='toplink'>Log Out</a>
        </div>
    </div>
    </nav>
    <div id="sabrered">
      <div id='quotes'></div>
    </div>
      <div id="locallinks">
        <a href="/dashboard" class='midlink'>Console</a>
        <a href="/empire" class='midlink'>Added Units</a>
        <a href="/planet" class='midlink'>Added Planets</a>
        <a href="/apiempire" class='midlink'>Units Database</a>
        <a href="/apiplanet" class='midlink'>Planets Database</a>

      </div>
      <a href="empire/add" class='displayadd'>Add Unit</a>
      <a href="planet/new" class='displayadd'>Add Planet</a>


  </header>


<div class="container">

