<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Empire Database</title>
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/style.css'>
</head>
<body>
  <header>
    <nav><div id="back"><div id="links">
      <a href="/auth/register" id='top'>Register</a>
      <a href="/auth/login" id='top'>Login</a>
      <a href="/auth/logout" id='top'>Log Out</a>
        </div>
    </div>
    </nav>
    <div id="sabrered"></div>
      <div id="locallinks"><a href="/dashboard" id='top'>Dashboard</a><a href="/empire" id='top'>Units</a><a href="/planet" id='top'>Avail. Planets</a></div>

  </header>
<div class="container">

