<% include ../partials/boilerplate %>

<form method="POST" action="/empire/" class="unitform">
  <input type="text" name="name" placeholder="name" />
  <input type="text" name="model" placeholder="model" />
  <input type="text" name="maker" placeholder="maker" />
  <input type="number" name="cost" placeholder="credit cost" />
  <input type="number" name="crew" placeholder="crew" />
  <input type="text" name="station" placeholder="station" /><br>
  <input type="submit" class='displayadd' value="Add unit" /><br>
  <a href="/empire/" class='displayadd'>Cancel Unit</a>
</form>

<% include ../partials/end %>
